<template>
  <v-container>
    <v-col>
      <v-row>
        <v-col cols="10">
          <v-card>
            <Message
              v-for="message in messages"
              :key="message.msg"
              :msg="message"
            />
          </v-card>
        </v-col>
        <v-col cols="2">
          <v-card>
            <v-card-title>Userlist</v-card-title>
            <v-card-text>
              <Userlist :userlist="userlist" />
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
    <v-col>
      <v-card>
        <v-card-text>
          <ChatBox
            :name="newName"
            :message="newMessage"
            @updateMessage="updateMessage"
          />
        </v-card-text>
      </v-card>
    </v-col>
    <v-btn @click="onClick">Send Message</v-btn>
  </v-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

import ChatBox from "@/components/ChatBox.vue";
import Message, { UserMessage } from "@/components/Message.vue";
import Userlist, { User } from "@/components/Userlist.vue";

import io from "socket.io-client";
const socket = io("http://10.2.37.40:3000");

@Component({
  components: {
    Message,
    Userlist,
    ChatBox,
  },
})
export default class Chat extends Vue {
  @Prop() private msg!: string;
  message: string = "Hello!";
  messages: Array<UserMessage> = new Array<UserMessage>();
  userlist: Array<User> = new Array<User>();

  newName: string = "";
  newMessage: string = "";

  created(): void {
    socket.on("messages", (messages: Array<UserMessage>) => {
      this.messages = messages;
    });
    socket.on("userList", (users: Array<User>) => {
      this.userlist = new Array<User>();
      users.forEach((user) => {
        this.userlist.push({ id: user.id, name: "" });
      });
    });
  }

  updateMessage(message: string, name: string): void {
    this.newMessage = message;
    this.newName = name;
  }

  onClick(): void {
    console.log("Emitting..");
    socket.emit("sendMessage", {
      user: this.newName,
      msg: this.newMessage,
      date: "15-05-2020",
    });
  }
}
</script>
