<template>
  <v-container>
    <v-card width="300">
      <v-card-text>
        <v-col>
          <v-row> {{ msg.user }} ({{ msg.date }}): </v-row>
          <v-row>
            {{ msg.msg }}
          </v-row>
        </v-col>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

export interface UserMessage {
  user: string;
  date: string;
  msg: string;
}

@Component
export default class Message extends Vue {
  @Prop() private msg!: UserMessage;
}
</script>
